.detail-bg {
  margin-top: 10rem;
  background-image:
    linear-gradient(
      to right,
      var(--accent-color) 80rem,
      white 80rem
    );
}

.detail-grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: .5fr 3fr 1fr;
  grid-template-areas: 'detail-titel .' 'detail-img detail-para' 'detail-tekst .';
}

.detail-titel {
  grid-area: detail-titel;
  display: flex;
  align-items: center;
  font-size: 3rem;
  padding-top: 2rem;
}

.detail-titel__span {
  padding-left: 2rem;
}

.detail-img {
  grid-area: detail-img;
  height: 53rem;
}

.detail-tekst {
  grid-area: detail-tekst;
  width: 60rem;
}

.detail-tekst__social {
  margin-top: 2rem;
  padding-bottom: 5rem;
}

.pad {
  padding-left: 1rem;
}

.detail-para {
  grid-area: detail-para;
  display: flex;
}

.detail-para__fontsize {
  font-size: 1.8rem;
}

.website {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 2rem;
  padding-left: 2rem;
  color: black;
}

.datum {
  color: white;
  position: absolute;
  padding-top: 46rem;
  padding-left: 4rem;
  font-size: 4rem;
}

.rechts {
  margin-left: 62rem;
}

.test {
  background-size: 1rem;
  background-color: black;
  border: none;
  color: white;
  padding: 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 1000rem;
  background-image: url(../assets/img/arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 1.1rem;
}

.detail-para__locatie {
  padding-left: 2rem;
}

.gelijkaardige-acts {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.gelijkaardige-acts__titel {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
}

.gelijkaardige-acts__button {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 15%;
}

.gelijkaardige-grid-container {
  width: 96rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: '. . .';
  grid-gap: 2rem;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.gelijkaardige-act-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
  grid-template-areas: 'act-foto' 'act-tekst';
}

.gelijkaardige-act-foto {
  grid-area: act-foto;
  font-size: 0;
}

.gelijkaardige-act-tekst {
  grid-area: act-tekst;
  background-color: #1ca09b;
  color: white;
  font-size: 1.8rem;
  padding: 0 0 0 2rem;
}

.gelijkaardige-act-titel {
  margin-top: 1.5rem;
}

.gelijkaardige-act-para {
  display: flex;
  padding-bottom: 1.5rem;
}

.gelijkaardige-act-para__uur {
  margin-left: 2rem;
}

.gelijkaardige-act-tekst:hover {
  background-color: var(--accent-color);
}

.extra-content-grid-container {
  grid-gap: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .2fr 1fr;
  grid-template-areas: 'extra-content-tekst extra-content-tekst extra-content-tekst' 'extra-content-foto-een extra-content-foto-twee extra-content-foto-drie';
}

.extra-content-tekst {
  grid-area: extra-content-tekst;
  width: 50rem;
}

.extra-content-foto-een {
  grid-area: extra-content-foto-een;
}

.extra-content-foto-twee {
  grid-area: extra-content-foto-twee;
}

.extra-content-foto-drie {
  grid-area: extra-content-foto-drie;
}

.extra_img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.extra {
  height: 25rem;
}
