/* ------------------------ header ------------------------ */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  opacity: .9;
  overflow-x: hidden;
  transition: .5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.testje {
  display: flex;
  justify-content: flex-end;
  font-size: 3rem;
  cursor: pointer;
  color: white;

  @media (--md) {
    display: none;
  }
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: .3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {

  .overlay a {
    font-size: 20px;
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.header {
  background-image:
    url(../assets/img/nav-image.png),
    linear-gradient(to right, #313dab, #36219a, #3054ba, #4680d0, #376bc6);
  background-repeat: no-repeat;
  background-position: 8% 0%;

  @media (--md) {
    background-image: url(../assets/img/hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70rem;
  }
}

.navigation__list {
  display: flex;
  justify-content: flex-end;

  @media (--xs) {
    display: none;
  }

  @media (--md) {
    display: flex;
  }
}

.navigation__list__item {
  padding: 1rem;
}

.navigation__list__item__a {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--white);
}

.logo-nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5rem;
  padding-bottom: 5rem;

  @media (--md) {
    padding-bottom: 0;
  }
}

.header-content__responsive {
  display: none;

  @media (--md) {
    display: block;
  }
}

.slogan {
  font-size: 5rem;
  line-height: 5rem;
  color: white;
  padding-bottom: 3rem;

  @media (--md) {
    display: flex;
  }
}

.button {
  font-family: 'Glacial Indifference';
  font-weight: bold;
  font-size: 1.4rem;
  background-image:
    linear-gradient(
      to right,
      #4680d0,
      #376bc6,
      #3054ba,
      #313dab,
      #36219a
    );
  color: white;
  background-size: 300% 100%;
  padding: 1rem 5rem;
  border: none;
  border-radius: 2rem;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .2);
  transition: all ease .3s;
}

.button:hover {
  cursor: pointer;
  background-position: 100% 0%;
}

.slogan-button__container {
  padding-top: 18rem;
}

.header__design-element {
  display: flex;
  justify-content: flex-end;
}

.header__design-element img {
  margin-top: -32.5rem;
  height: 37.7rem;
  width: 40.8rem;
}

.header__date {
  color: white;
  font-size: 3rem;
  display: flex;
  justify-content: flex-end;
}

.countdown__digites {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown__digit {
  font-size: 5rem;
  padding: 1rem;
  text-transform: uppercase;

  @media (--md) {
    font-size: 5rem;
    padding: 2rem;
  }
}

.countdown__title {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2rem;

  @media (--md) {
    text-align: right;
  }
}

.countdown__para {
  display: none;

  @media (--md) {
    display: inline;
  }
}

.countdown__digit__punt {
  @media (--md) {
    display: none;
  }
}

.border {
  height: .5rem;
  background-color: black;
  margin-bottom: 2rem;

  @media (--md) {
    display: none;
  }
}

.about {
  padding-top: 5rem;
}

.about__text {
  display: flex;
  justify-content: center;
  text-align: center;
}

.uitgelicht {
  margin-top: 10rem;
  height: 100%;
  background-image:
    linear-gradient(
      to right,
      #2dc8c2,
      #2dc8c2 110rem,
      white 110rem
    );
  background-repeat: no-repeat;
}

.uitgelicht__titel {
  color: white;
  font-size: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.uitgelicht__bollen {
  margin-left: 20rem;
}

.uitgelicht__bg {
  width: 100%;
  padding-bottom: 8rem;
  /* background-image: linear-gradient(to right, #2dc8c2, #2dc8c2 80%, white 80%); */
  /* -webkit-box-shadow: 0 0 69px -4px rgba(0, 0, 0, .75); */
}

.uitgelicht-grid-container {
  height: 100%;
  grid-gap: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: '.' '.' '.' '.' '.' '.';

  @media (--md) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: '. .' '. .' '. .';
  }

  @media (--lg) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: '. . .' '. . .';
  }

  /* @media (--xs) {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: '.' '.' '.' '.' '.' '.';
  }

  @media (--xm) {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: '.' '.' '.' '.' '.' '.';
  }

  @media (--md) {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: '. .' '. .' '. .';
  }

  @media (--lg) {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: '. . .' '. . .';
  } */
}

.foto {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.act-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
  grid-template-areas: 'act-foto' 'act-tekst';
}

.act-foto {
  grid-area: act-foto;
  font-size: 0;
  height: 25rem;
}

.act-tekst {
  grid-area: act-tekst;
  background-color: #1ca09b;
  color: white;
  font-size: 1.8rem;
  padding: 0 0 0 2rem;
}

.act-titel {
  margin-top: 1.5rem;
}

.act-para {
  display: flex;
}

.act-para__uur {
  margin-left: 2rem;
}

.act-tekst:hover {
  background-color: var(--accent-color);
}

.vrijwilliger {
  padding-bottom: 10rem;
}

.gratis {
  padding-bottom: 20rem;
}

.gratis__foto {
  margin-top: 20rem;
  background-image: url(../assets/img/eventfototwee.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40rem;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.gratis__foto__titel {
  font-size: 5rem;
  color: white;
  text-transform: uppercase;
}

.gratis__foto__text {
  font-size: 3rem;
  color: white;
}

.hoofdlocaties {
  padding-bottom: 20rem;

  @media (--md) {
    background-color: none;
  }

  @media (--ld) {
    padding-bottom: 0;
  }
}

.locatie-grid-container {
  width: 100%;
  background: #f7f7f7;
  margin: 0 auto;
  display: none;
  grid-template-columns: 1fr 20px 2fr;
  grid-template-rows: 20px 1fr 1fr 1fr 20px;
  grid-template-areas: 'locatie-foto locatie-padding locatie-padding-top' 'locatie-foto locatie-padding locatie-titel' 'locatie-foto locatie-padding locatie-adress' 'locatie-foto locatie-padding locatie-ways' 'locatie-foto locatie-padding locatie-padding-bottom';

  @media (--md) {
    display: grid;
  }

  @media (--lg) {
    width: 90rem;
  }

  @media (--xl) {
    width: 105rem;
  }
}

.locatie-foto {
  grid-area: locatie-foto;
}

.locatie-foto__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.locatie-padding {
  grid-area: locatie-padding;
}

.locatie-padding-top {
  grid-area: locatie-padding-top;
}

.locatie-padding-bottom {
  grid-area: locatie-padding-bottom;
}

.locatie-titel {
  grid-area: locatie-titel;
  color: black;
}

.locatie-adress {
  grid-area: locatie-adress;
  display: flex;
  margin-top: -2rem;
}

.locatie-ways {
  grid-area: locatie-ways;
}

.ways {
  font-size: 2rem;
  margin-top: -2rem;
  padding-bottom: 1rem;
}

.locatie {
  padding-right: 5rem;
}

.locatie-design {
  display: flex;
  justify-content: flex-end;
  margin-top: -22rem;
  padding-bottom: 20rem;
}

.locatie-design__img {
  display: none;

  @media (--lg) {
    display: flex;
  }
}

.responsive-locatie-grid-container {
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media (--md) {
    display: none;
  }
}

.responsive-locatie-titel {
  color: black;
}

.responsive-locatie-adress {
  padding-bottom: 2rem;
  font-size: 1.5rem;
}

.responsive-locatie-een {
  padding-top: 1rem;
}

.responsive-loactie-ways {
  padding-bottom: 2rem;
}

.responsive-ways {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
}

.responsive-ways__img {
  padding-right: 2rem;
}

.grid-container {
  background-image: url(../assets/img/vrijwilliger-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  /* xy/h w */
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: 5rem 2fr 1fr 5rem;
  grid-template-rows: 5rem 1fr 1fr 1fr 5rem;
  grid-template-areas: 'padding-top padding-top padding-top padding-top' '. titel img .' '. text img .' '. emaileninput img .' 'padding-bottom padding-bottom padding-bottom padding-bottom';
  background-color: var(--accent-color);

  @media (--lg) {
    width: 90rem;
  }

  @media (--xl) {
    width: 105rem;
  }
}

.padding-top {
  grid-area: padding-top;
}

.padding-bottom {
  grid-area: padding-bottom;
}

.titel {
  grid-area: titel;
}

.text {
  grid-area: text;
}

.emaileninput {
  grid-area: emaileninput;
}

.img {
  grid-area: img;
  margin: auto;

  display: none;

  @media (--lg) {
    display: flex;
  }
}

.vrijwilliger__email {
  border-radius: 10rem;
  border: none;
  height: 3.5rem;
  width: 40%;
  padding-left: 1.5rem;
  font-size: 1.5rem;
}

.email-container {
  padding-top: 2rem;
  display: flex;
  flex-flow: column;
}

.vrijwilliger__text {
  color: white;
}

.vrijwilliger__button {
  width: 30%;
  margin-top: 1rem;
}
