@import './css/reset.css';
@import './css/home.css';
@import './css/programma.css';
@import './css/detail.css';

:root {
  --primary-color: #2dc8c2;
  --accent-color: #d73042;
  --black: #262a34;
  --dark-grey: #a3a3a3;
  --light-grey: #b8b8b8;
  --lightest-grey: #f1f2f2;
  --green-grey: #7c98a3;
  --white: white;
  --glacial-indifference: 'Glacial Indifference';
}

@custom-media --xs screen and (min-width: 0);
@custom-media --xm screen and (min-width: 20em);
@custom-media --md screen and (min-width: 48em);
@custom-media --lg screen and (min-width: 64em);
@custom-media --xl screen and (min-width: 90em);

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* stylelint-disable */

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  font-family: 'Glacial Indifference', 'Arial Black', sans-serif;
  font-weight: bold;
  color: var(--black);
  font-size: 1.4rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
  width: 100%;

  @media (--md) {
    max-width: 76.8rem;
  }

  @media (--lg) {
    max-width: 100rem;
  }

  @media (--xl) {
    max-width: 120rem;
  }
}

.highlight {
  color: var(--accent-color);
  padding: 0 .4rem;
}

.error {
  padding-bottom: 1rem;
  color: red;
}

.footer {
  background-color: #f3f2f2;
}

.footer__form {
  padding: 2rem 0;

  @media (--md) {
    padding: 5rem 0;
  }
}

.footer__label {
  padding-bottom: 1rem;
  font-size: 1.7rem;
}

.footer__email {
  border-radius: 10rem;
  border: none;
  height: 3rem;
  width: 22rem;
  padding-left: 1.5rem;
  font-size: 1.5rem;

  @media (--md) {
    width: 80%;
  }
}

.footer__email:focus {
  outline: none;
}

.footer__form__container {
  display: flex;
  flex-flow: column;
}

.footer__button {
  margin-top: 1.5rem;
  width: 17rem;

  @media (--md) {
    width: 60%;
  }
}

.social-media {
  @media (--md) {
    display: flex;
    flex-flow: column;
  }
}

.footer__container {
  @media (--md) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__after {
  height: 3vh;
  background-color: #231f20;
  color: white;
  font-size: 1rem;
  align-items: center;
  display: flex;
  justify-content: center;
}

.zwart {
  color: black;
}

.skiplink {
  position: absolute;
  top: 0;
  right: 100%;
}

.skiplink:focus {
  right: auto;
}

a:focus {
  background-color: deeppink;
  outline: none;
  color: white;
}
