@import './css/reset.css';
@import './css/home.css';
@import './css/programma.css';
@import './css/detail.css';

:root {
  --primary-color: #2dc8c2;
  --accent-color: #d73042;
  --black: #262a34;
  --dark-grey: #a3a3a3;
  --light-grey: #b8b8b8;
  --lightest-grey: #f1f2f2;
  --green-grey: #7c98a3;
  --white: white;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* stylelint-disable */

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  font-family: 'Glacial Indifference', 'Arial Black', sans-serif;
  font-weight: bold;
  color: var(--black);
  font-size: 1.4rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.container {
  width: 120rem;
  margin: auto;
}

.highlight {
  color: var(--accent-color);
}

.error {
  padding-bottom: 1rem;
  color: red;
}

.footer {
  background-color: #f3f2f2;
}

.footer__form {
  padding: 5rem 0;
}

.footer__label {
  padding-bottom: 1rem;
  font-size: 1.7rem;
}

.footer__email {
  border-radius: 10rem;
  border: none;
  height: 3rem;
  width: 80%;
  padding-left: 1.5rem;
  font-size: 1.5rem;
}

.footer__email:focus {
  outline: none;
}

.footer__form__container {
  display: flex;
  flex-flow: column;
}

.footer__button {
  margin-top: 1.5rem;
  width: 60%;
}

.social-media {
  display: flex;
  flex-flow: column;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__after {
  height: 3vh;
  background-color: #231f20;
  color: white;
  font-size: 1rem;
  align-items: center;
  display: flex;
  justify-content: center;
}

.zwart {
  color: black;
}
